<main class="p-4 flex flex-col gap-8">
  <h1 class="uppercase font-bold leading-[1.2] text-[2.25rem]">Insérer une réalisation</h1>
  <%= form_with model: @project, url: dashboard_portfolio_projects_path, html: { class:  'flex flex-col gap-4' } do |form| %>
    <!-- Titre -->
    <div class="flex flex-col gap-2">
      <%= form.label :title, 'Titre', class:'font-medium'  %>
      <%= form.text_field :title, class: "p-2 border border-[var(--border-input)] rounded-[5px] w-full focus:outline-none focus:ring-[var(--txt-hover)] focus:ring-1", placeholder: "Donnez un titre à ma réalisation" %>
    </div>
    <!-- Textearea -->
    <div class="flex flex-col gap-2">
      <%= form.label :description, 'Description', class:'font-medium' %>
      <%= form.text_area :description, class:"p-2 border border-[var(--border-input)] rounded-[5px] w-full focus:outline-none focus:ring-[var(--txt-hover)] focus:ring-1 resize-none h-32", placeholder: "Décrivez votre projet" %>
    </div>
    <!-- Avatar -->
    <div class="flex flex-col gap-2">
      <%= form.label :avatar, "Insérer une image",class:'font-medium' %>
      <%= form.file_field :avatar, class:   "p-2 border border-[var(--tag-color)] rounded-[5px] w-full focus:outline-none focus:ring-[var(--txt-hover)] focus:ring-1 " %>
    </div>
    <div class="flex items-center gap-4">
      <!-- Bouton de soumission -->
      <div>
        <%= form.submit "Enregistrer", class: "w-max px-6 py-3 rounded-[24px] border border-black bg-white text-black transition-all duration-400 ease-in-out hover:bg-[var(--txt-hover)] hover:text-white hover:border-[var(--txt-hover)] cursor-pointer" %>
      </div>
      <!-- Bouton dannulation' -->
      <%= link_to 'Annuler', dashboard_portfolio_path, class: "w-max px-6 py-3 rounded-[24px] border border-black bg-white text-black transition-all duration-400 ease-in-out hover:bg-[var(--red-danger)] hover:text-white hover:border-[var(--red-danger)] cursor-pointer" %>
    </div>
  <% end %>
</main>
