<main class="max-w-[97dvw] min-h-screen mx-auto">
  <section class="grid grid-cols-[20%_60%_20%] md:grid-cols-[10%_60%_30%] items-center px-[20px] pt-0 pb-[50px]">
    <% if @idea.avatar.attached? %>
      <%= cl_image_tag @idea.avatar.key, width: 50, height: 50, class: "rounded-full aspect-[1/1]" %>
    <% end %>
    <div class="flex flex-col gap-2">
      <h1 class="font-semibold text-2xl">  <%= @idea.title %></h1>
      <p class="text-[var(--tag-color)]"><%= @idea.title %></p>
    </div>
    <div class="flex gap-4 justify-center text-center">
      <% if @reaction && @reaction.like? %>
        <%= link_to reaction_path(@reaction), data: {turbo_method: :delete}, class:"text-center" do %>
          <%= render 'ideas/components/like_selected_svg' %>
          <sup>
            <%= @idea.likes_count %>
          </sup>
        <% end %>
      <% else %>
        <%= button_to reactions_path, params: { reaction: {idea_id: @idea.id, reaction_type: "like"} } do %>
          <%= render 'ideas/components/like_svg' %>
          <sup>
            <%= @idea.likes_count %>
          </sup>
        <% end %>
      <% end %>
      <%# Dislikes logic %>
      <% if @reaction && @reaction.dislike? %>
        <%= link_to reaction_path(@reaction), data: {turbo_method: :delete}, class: "text-center" do %>
          <%= render 'ideas/components/dislike_selected_svg' %>
          <sup>
            <%= @idea.dislikes_count %>
          </sup>
        <% end %>
      <% else %>
        <%= button_to reactions_path, params: { reaction: {idea_id: @idea.id, reaction_type: "dislike"} } do %>
          <%= render 'ideas/components/dislike_svg' %>
          <sup>
            <%= @idea.dislikes_count %>
          </sup>
        <% end %>
      <% end %>
    </div>
  </section>
  <section class="mb-8">
    <%= cl_image_tag @idea.avatar.key, class: "rounded-lg shadow-md w-full" %>
  </section>
  <section class="mb-8">
    <%= @idea.description %>
  </section>
</main>
