<main class="p-4 flex flex-col gap-8">
  <h1 class="uppercase font-bold leading-[1.2] text-[2.25rem]">S'inscrire</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'flex flex-col gap-4' }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="flex flex-col gap-2">
      <%= f.label :email, "E-mail" %>
      <%= f.email_field :email,  autofocus: true, autocomplete: "email", class: "p-2 border border-[#333333] rounded-[5px] w-full focus:outline-none focus:ring-[#6c41b9] focus:ring-1", placeholder: 'Entrez votre mail' %>
    </div>
    <div class="flex flex-col gap-2">
      <div class="">
        <%= f.label :password, "Mot de passe" %>
        <% if @minimum_password_length %>
          <em> (doit contenir au moins <%= @minimum_password_length %> caractères)</em>
        <% end %>
      </div>
      <%= f.password_field :password, autocomplete: "new-password", class: "p-2 border border-[#333333] rounded-[5px] w-full focus:outline-none focus:ring-[#6c41b9] focus:ring-1", placeholder: 'Mot de passe' %>
    </div>
    <div class="flex flex-col gap-2">
      <%= f.label :password_confirmation, "Confirmation de mot de passe" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "p-2 border border-[#333333] rounded-[5px] w-full focus:outline-none focus:ring-[#6c41b9] focus:ring-1", placeholder: 'Confirmez votre mot de passe' %>
    </div>
    <div class="actions">
      <%= f.submit "S'inscrire", class: "w-max px-6 py-3 rounded-[24px] border border-black bg-white text-black transition-all duration-400 ease-in-out hover:bg-[#6c41b9] hover:text-white hover:border-[#6c41b9] cursor-pointer" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</main>
