<main class="p-4 flex flex-col gap-8">
  <h1 class="uppercase font-bold leading-[1.2] text-[2.25rem]">Modifier mon Portfolio</h1>
  <%# <p>Find me in app/views/dashboard/portfolios/edit.html.erb</p> %>
  <%= form_with model: @portfolio, url: dashboard_portfolio_path, method: :patch, html: { class: 'flex flex-col gap-4' } do |form| %>
    <!-- Titre -->
    <div class="flex flex-col gap-2">
      <%= form.label :company_name, "Nom de l'entreprise" %>
      <%= form.text_field :company_name, class: "p-2 border border-[#333333] rounded-[5px] w-full focus:outline-none focus:ring-[#6c41b9] focus:ring-1"%>
      <% if @portfolio.errors[:company_name].any? %>
        <p class="text-red-500 text-sm mt-1"><%= @portfolio.errors[:company_name].join(", ") %></p>
      <% end %>
    </div>
    <!-- Description -->
    <div class="flex flex-col gap-2">
      <%= form.label :description, "Description" %>
      <%= form.text_area :description, class: "p-2 border border-[#333333] rounded-[5px] w-full focus:outline-none focus:ring-[#6c41b9] focus:ring-1 resize-none" %>
      <% if @portfolio.errors[:description].any? %>
        <p class="text-red-500 text-sm mt-1"><%= @portfolio.errors[:description].join(", ") %></p>
      <% end %>
    </div>
    <!-- Avatar -->
    <div class="flex flex-col gap-2">
      <%= form.label :avatar,"Photo de profil"  %>
      <%= form.file_field :avatar, class: "p-2 border border-[#333333] rounded-[5px] w-full focus:outline-none focus:ring-[#6c41b9] focus:ring-1", placeholder: 'Parcourir mes images' %>
      <% if @portfolio.errors[:avatar].any? %>
        <p class="text-red-500 text-sm mt-1"><%= @portfolio.errors[:avatar].join(", ") %></p>
      <% end %>
    </div>
    <!-- Bouton de soumission -->
    <div class="flex flex-col gap-2">
      <%= form.submit "Enregistrer", class: "w-max px-6 py-3 rounded-[24px] border border-black bg-white text-black transition-all duration-400 ease-in-out hover:bg-[#6c41b9] hover:text-white hover:border-[#6c41b9] cursor-pointer" %>
    </div>
  <% end %>
</main>
