
<main class="container mx-auto my-8 min-h-screen">
  <!-- Informations du portfolio -->
  <section id="hero-portfolio" class="border-white border-2">
    <h1 class="font-bold text-4xl mb-4">
      <%= @portfolio.company_name %>
    </h1>

    <p class="text-gray-500 text-lg">
      <%= @portfolio.description %>
    </p>

    <!-- QR Code et Avatar -->
    <div class="mt-6 grid grid-cols-2 gap-4">
      <% if @portfolio.avatar.attached? %>
        <div class="flex justify-center">
          <%= cl_image_tag @portfolio.avatar.key, width: 100, height: 100, class: "rounded-lg shadow-md " %>
        </div>
      <% end %>

      <% if @portfolio.qr_code.attached? %>
        <div class="flex justify-center">
          <%= cl_image_tag @portfolio.qr_code.key, width: 100, height: 100, class: "rounded-lg shadow-md" %>
        </div>
      <% end %>

    </div>
  </section>

  <!-- Section Réalisations -->
  <section class="mt-8 border-white border-2">
    <h2 class="font-bold text-2xl mb-4">
      Mes Réalisations
    </h2>

    <% if @portfolio.projects.any? %>
      <ul class="space-y-3">
        <% @portfolio.projects.each do |project| %>
          <li class="">
            <%= link_to project.title, dashboard_portfolio_project_path(project), class: "" %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-gray-500">Vous n'avez pas encore inséré vos réalisations.</p>
    <% end %>
  </section>

  <!-- Section Idées de projets -->
  <section class="mt-8 border-white border-2">
    <h2 class="font-bold text-2xl mb-4">
      Mes Idées de projets
    </h2>

    <% if @portfolio.ideas.any? %>
      <ul class="space-y-3">
        <% @portfolio.ideas.each do |idea| %>
          <li class="bg-gray-100 hover:bg-gray-200 transition p-3 rounded-lg">
            <%= link_to idea.title, dashboard_portfolio_idea_path(idea), class: "text-blue-600 font-medium" %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-center">
        Vous n'avez pas encore d'idées de projet.
      </p>
      <div class="text-center my-8">
        <%= link_to 'Proposer ma 1ère idée', new_dashboard_portfolio_idea_path, class: "bg-white border-white border text-black hover:bg-black hover:text-white py-2 px-4 rounded-2xl transition hover:duration-150" %>
      </div>
    <% end %>
  </section>
</main>


<%= link_to 'Retour', root_path %>

<h2>
  <%= link_to 'Modifier Mon Portfolio', edit_dashboard_portfolio_path %>
</h2>

<h2>
  <%= link_to 'Ajouter un Projet', new_dashboard_portfolio_project_path %>
</h2>

<h2>
  <%= link_to 'Ajouter une Idée de Projet', new_dashboard_portfolio_idea_path %>
</h2>
