<main class="p-4 flex flex-col gap-8">
  <h1 class="uppercase font-bold leading-[1.2] text-[2.25rem]">
    Nouvelle idée
  </h1>
  <section id="form">
    <%= form_with model: @idea, url: dashboard_portfolio_ideas_path do |form| %>
      <div class="grid grid-cols-1 gap-4 mx-auto">
        <div class="flex flex-col gap-2">
          <%= form.label :title, "Titre", class:'font-medium'  %>
          <%= form.text_field :title, class:  "p-2 border border-[var(--border-input)] rounded-[5px] w-full focus:outline-none focus:ring-[var(--txt-hover)] focus:ring-1", placeholder: "Ma nouvelle Idée" %>
        </div>
        <div class="flex flex-col gap-2">
          <%= form.label :description, "Description", class:'font-medium'  %>
          <%= form.text_area :description,
            class:  "p-2 border border-[var(--border-input)] rounded-[5px] w-full focus:outline-none focus:ring-[var(--txt-hover)] focus:ring-1 h-32",
            placeholder: "Voici une description détaillée de mon idée afin de vous convaincre de voter pour." %>
        </div>
        <div class="flex flex-col gap-2">
          <%= form.label :avatar,  class:'font-medium'  %>
          <%= form.file_field :avatar,
            class:  "p-2 border border-[var(--border-input)] rounded-[5px] w-full focus:outline-none focus:ring-[var(--txt-hover)] focus:ring-1" %>
        </div>
        <div >
          <%= form.submit "Créer l'idée", class:"w-max px-6 py-3 rounded-[24px] border border-black bg-white text-black transition-all duration-400 ease-in-out hover:bg-[var(--txt-hover)] hover:text-white hover:border-[var(--txt-hover)] cursor-pointer" %>
        </div>
      </div>
    <% end %>
  </section>
</main>
