<main class="container mx-auto min-h-screen my-8 px-4">
  <h1 class="text-4xl sm:text-4xl font-bold text-center my-4">
    Nouvelle idée
  </h1>

  <section id="form">
    <%= form_with model: @idea, url: dashboard_portfolio_ideas_path do |form| %>

      <div class="grid grid-cols-1 gap-4 mx-auto">

        <div>
          <%= form.label :title, "Titre", class: "block mb-2" %>
          <%= form.text_field :title, class: "w-full border border-gray-500 rounded p-2 active:border-purple-700", placeholder: "Ma nouvelle Idée" %>
        </div>

        <div>
          <%= form.label :description, "Description", class: "block mb-2" %>
          <%= form.text_area :description,
            class: "w-full border border-gray-500 rounded p-2 min-h-40 focus:border-purple-700 focus:ring-purple-700 focus:ring focus:border",
            placeholder: "Voici une description détaillée de mon idée afin de vous convaincre de voter pour." %>
        </div>

        <div>
          <%= form.label :avatar, class: "block mb-2" %>
          <%= form.file_field :avatar,
            class: "w-full border border-gray-500 rounded p-2 focus:border-purple-700" %>
        </div>

        <div class="text-center">
          <%= form.submit "Créer l'idée", class: "cursor-pointer text-xl bg-white text-black rounded-full border border-black px-6 py-2 my-8 hover:border-white hover:bg-black transition hover:duration-150 hover:text-white" %>
        </div>

      </div>

    <% end %>
  </section>
</main>
