<nav class="flex">

  <div id="logo">
    LOGO
  </div>


  <ul id="menu-items" class="flex grow">
    <li>
      <%= link_to "Home", root_path %>
    </li>
    <li>
      <%= link_to 'Nos Services', "https://www.olenx.com", target:"_blank" %>
    </li>


    <li>
      <%= link_to 'Les Portfolios', portfolios_path %>
    </li>

    <li>
      <%= link_to 'Les Projets', ideas_path %>
    </li>

    <li>
      <%= link_to 'Les Réalisations', projects_path %>
    </li>
  </ul>



  <ul class="flex items-center h-full">
    <li>
      <%= link_to "Connexion", new_user_session_path %>
    </li>

    <li>
      <%= link_to "Nous Rejoindre", new_user_registration_path, class: "border rounded-3xl bg-white text-black px-4 py-2" %>
    </li>
  </ul>
</nav>
